# --- Virtual environment ---
venv/

# --- Data files ---
*.csv

# --- IDE / Editor stuff ---
.idea/
.vscode/

# --- Python cache ---
__pycache__/
*.pyc

# --- Jupyter ---
.ipynb_checkpoints/

# --- macOS system files ---
.DS_Store






